#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    border: 16px solid rgba(255, 255, 255, 0.2);
    border-top: 16px solid #ffffff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@font-face {
    font-family: 'Nunito';
    src: url(/fonts/nunito-latin-400-normal.woff2?b8644b6e04ecda1cf98bbb37f17d0ef3) format('woff2'),
         url(/fonts/nunito-latin-400-normal.woff?ca52c044715c95fdd0d8e1e611f656ee) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url(/fonts/nunito-latin-600-normal.woff2?2b48b7fe12163661f95ab32aebeaed01) format('woff2'),
         url(/fonts/nunito-latin-600-normal.woff?f30693047a88a0c4afd9547f3b24ec7d) format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url(/fonts/nunito-latin-700-normal.woff2?adfd120897fcd366e78e43a700ca8bfc) format('woff2'),
         url(/fonts/nunito-latin-700-normal.woff?0896448ba230f1468248a86fd45a20b6) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Nunito', sans-serif;
}

